body{
    text-align: center;
}

#Logo{
    width: 800px;
    height: 563px;
}

img{
    width: 350px;
}

#mycarousel{
    background color:red;
}

.cars {
    display: inline;
}

#mycarousel img {
    height: 300px;
    margin-top: 25px;
}

.carousel-inner p {
    margin-top: 15px;
    margin bottom: 15px;
    color: Black;
    font-size: 20px;
}
